$color-blue: #3498db;
$color-light-blue: #8bf1ff;
$color-yellow: #f4d03f;
$color-viol: #a569bd;
$color-green: #28b463;
$color-orange: #d35400;
$color-dunno: #a55252;
$color-rosy: rosybrown;
$color-third: rgba(165, 82, 82, 1);
$color-four: rgb(163, 128, 128);

$color-black: #000;
