.periodic__table {
  margin: 7rem auto;
}

table {
  table-layout: fixed;
  margin: 0 auto;
  width: 95%;
  border: 1px solid black;
  padding: 5rem;
  border-spacing: 1.5rem;
  text-align: center;
  background: linear-gradient(
    rgba(229, 249, 242, 1) 72%,
    rgba(156, 174, 162, 1) 93%
  );
  box-shadow: 0 1rem 5rem $color-black;

  td {
    padding: 1rem;
    width: 2%;
    border: 1px solid $color-black;
    border-radius: 0.5rem;
    font-size: 1rem;

    transition: all 0.3s;

    &:empty {
      border: 0px;
    }

    /* Hover will efect only the Tds that aren't empty */
    &:hover:not(:empty) {
      transform: scale(2);
    }
    /* Size and italic for the element*/
    p {
      margin-top: 0.4rem;
      font-size: 2rem;
      font-style: italic;
    }
  }
}

/* last column from element 1 (helium) until 6 (radon)*/
tr:nth-child(n + 1):nth-child(-n + 6) td:last-child,
tr:nth-last-child(3) td:nth-last-child(3) {
  background-color: $color-viol;
}

/* Yellow Family */
tr:nth-child(n + 2):nth-child(-n + 3) td:nth-last-child(4), //Nitrogen and Phospurus
tr:nth-child(n + 2):nth-child(-n + 4) td:nth-last-child(3), //From Oxygen until Selenium
tr:nth-child(2) td:nth-last-child(5),
tr:first-child td:nth-child(1) {
  background-color: $color-yellow;
}

/* Rosy Family*/
tr:nth-child(n + 2):nth-child(-n + 7) td:nth-child(2),
tr:nth-last-child(3) td:last-child {
  background-color: $color-rosy;
}

/* The big green family */
tr:nth-child(n + 4):nth-child(-n + 5) td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(n + 6):nth-child(-n + 7) td:nth-child(n + 4):nth-child(-n + 12) {
  background-color: $color-green;
}

/* Violet family*/
tr:nth-child(n + 3):nth-child(-n + 7) td:nth-last-child(6),
tr:nth-child(n + 5):nth-child(-n + 7) td:nth-last-child(5),
tr:nth-last-child(4) td:nth-last-child(4) {
  background-color: $color-four;
}

/* Dark Brawn*/
tr:nth-child(n + 3):nth-child(-n + 4) td:nth-last-child(5),
tr:nth-child(n + 4):nth-child(-n + 5) td:nth-last-child(4),
tr:nth-child(2) td:nth-last-child(6),
tr:nth-child(n + 5):nth-child(-n + 6) td:nth-last-child(3) {
  background-color: $color-dunno;
}

//Orange Family
tr:nth-last-child(3) td:nth-last-child(4),
tr:nth-child(n + 2):nth-child(-n + 6) td:nth-last-child(2) {
  background-color: $color-orange;
}

//Dark Blue family
tr:last-child td:nth-child(n + 2):nth-child(-n + 15),
tr:nth-child(n + 2):nth-child(-n + 7) td:first-child,
tr:nth-last-child(3) td:nth-last-child(2),
tr:nth-child(7) td:nth-last-child(16) {
  background-color: $color-blue;
  border: 1px solid $color-black;
}

// Blue-light family
tr:nth-child(6) td:nth-last-child(16),
tr:nth-last-child(2) td:nth-child(n + 2):nth-child(-n + 15) {
  background-color: $color-light-blue;
  border: 1px solid $color-black;
}
